/* Encapsulamiento para estilos específicos de TasksPage */
.tasks-page-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .tasks-page-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}