/* ProductForm.css */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    background-color: #f4f4f4; /* Fondo para hacer que el formulario resalte */
}

.product-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Limitar el ancho del formulario */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los elementos */
}

.product-form input, .product-form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.product-form button:hover {
    background-color: #45a049;
}
